{% extends 'base.html' %}
{% block content %}


<div class="container">

    <div class="row">
      

      <!-- Post Content Column -->
      <div class="col-lg-8"><br>
        {% if request.user.username == detail.writer %}
        <div>
          
          <a class= "btn btn-primary" href="/edit_blog/{{detail.id}}">Edit Post</a>
          <a class="btn btn-danger" href="/delete_blog/{{detail.id}}">Delete Post</a>
        </div>
        {% endif %}
        <!-- Title -->

        <h1 class="mt-4">{{detail.title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{detail.writer}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{detail.date_posted}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{detail.img.url}}" alt="">

        <hr>

        <!-- Post Content -->
        <p>{{detail.content}}</p>

        
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form action="/comment/{{detail.id}}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" rows="3" name="comment"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        
        {% for com1 in com %}
          {{com1.comment}}
        {% endfor %}
        
      
        <!-- Comment with nested comments -->
         <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>

      </div>
     
          


{% endblock %}